@import "tailwindcss";

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --card: #0c0c0c;
  --card-foreground: #ffffff;
  --popover: #0c0c0c;
  --popover-foreground: #ffffff;
  --primary: #f3c450;
  --primary-foreground: #000000;
  --secondary: #3b3b3b;
  --secondary-foreground: #ffffff;
  --muted: #3b3b3b;
  --muted-foreground: #a3a3a3;
  --accent: #3b3b3b;
  --accent-foreground: #ffffff;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --border: #3b3b3b;
  --input: #3b3b3b;
  --ring: #f3c450;
  --radius: 0.75rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}
